*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}
:root{
    --level: 3;
}

html, body {
  -webkit-user-select: none;  /* Safari, Chrome */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+ */
   user-select: none;          /* chuáº©n */
}

::-webkit-scrollbar{
background: linear-gradient(to right, #00c3ff, #ffff1c);
width: 10px;
border-radius: 100px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(to right, #ee0979, #ff6a00);   
border-radius: 100px;

}

body{
    background-color: rgb(21, 3, 38);
    overflow:scroll ;
    display: relative;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.tile{
    height: 100%;
    width: 100%;
    overflow: clip;
    position: relative;
    /* box-shadow: 6px 1px 20px 0px rgba(0,0,0,0.65); */
    cursor: pointer;
    margin: auto;
    /* transition: transform 0.2s ease; */
    z-index: 1;
    border: 1px solid transparent  ;
    
}
.blank{
    cursor: context-menu;
    display: none;
}
.tile:hover{
  border-width: 4px;
  border-style: solid;
  border-image: radial-gradient(circle,rgb(97, 63, 251) 50%, rgb(252, 70, 70) 100%) 1;
  box-shadow:0 0 100px #FF0000;
  z-index: 3;
}
.stop-move{
    pointer-events: none; 
    /* border: none !important ; */
    box-shadow: none !important;
    cursor: default;
}


/* .tile::before{
    position: absolute;
    content: '';
    width: 300px ;  
    height: 300px;
    /* background-image: conic-gradient(red,blue,green,yellow,red); */
    /* z-index: 3;
    }    
*/



span.tile-number {
    z-index: 4;
    color: red;
    font-size: 2rem;
    position: absolute;
    left: 10px;
}
.tile img{
    height: calc(var(--level)*100%);
    width: calc(var(--level)*100%);
    position: absolute;
    overflow: clip;

}


body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    /* text-align: ; */
    overflow: hidden;
}
button{
    height: 45px;
    width: 90px;
    border-radius: 30px;
}

.board-game,.choose-pic-notify{
    position: absolute;
    height: 85vh;
    width: 85vh;
    left: 28%;
    top: 10vh;
}
.board-game{
    /* margin: auto;    */
    display: grid;
    /* box-shadow: 0 0 200px #0606a8, 0 0 500px #11036c; */
    /* background-image: conic-gradient(red,blue,green,yellow,red); */
    background-color: rgb(0, 0, 0);
    /* background-image: url(sample_pic.jpg);
    background-size: contain; */
    grid-template-columns: repeat(var(--level),1fr); 
    grid-template-rows: repeat(var(--level),1fr); 
    grid-template-areas: 
        'tile1 tile2 tile3'
        'tile4 tile5 tile6'
        'tile7 tile8 tile9';
}
span{
    visibility: visible;
}

.choose-pic-notify{
   position: absolute;
   color: yellow;
   z-index: 3;
   font-size: 3rem;
   align-content: center;
   justify-items: center;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.board-game::before, .board-game::after{
    z-index: -1;
    opacity: 1;
    position: absolute;
    content: '';
    height: calc(100% + 14px);  
    width: calc(100% + 14px);
    top: -7px;
    left: -7px;
    background-image: conic-gradient(from var(--angle),#880404 0%,rgb(0, 144, 0) 40%,rgb(203, 230, 82) 60%,rgb(255, 98, 124) 90%,red 100%);
    animation: 3s spin linear infinite;
    filter: blur(2px);
    box-shadow: 0 0 10px #9494ec, 0 0 500px #2b1b94;
}

.board-game::after{
    filter: blur(10px);
    opacity: 0.5;
}   

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;  
    }
}


/* Level Drop Down */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(51, 1, 91);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}

.dropdown-content a {
  color: rgb(148, 221, 237);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Gallery */
.gallery{
    width: 180px;
    height: calc(100% - 77px);
    background-color: #07097c;
    position: absolute;
    top: 110px;
    border-top-right-radius: 50px;
    transition: width 0.5s;
    z-index: 4;
}
.gallery-name{
    width: 180px;
    font-size: 2rem;
    background-color: #c50202;
    border-top-right-radius: 50px;
    text-align: center;
    color: yellow;
    box-shadow: 0 0 40px #95a000, 0 0 100px #00178a;
    transition: width 0.5s;
}

.index-picture{
    width: 100%;
    height: calc(100%);
    display: grid;
    row-gap: 10px;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr;
    background-color: rgb(1, 46, 1);
    justify-items: center;
    align-items: center;     
    box-shadow: 0 0 40px #407f00, 0 0 100px #0e0064;
    transition: width 0.5s;
    z-index: inherit;
}

.gallery:hover .gallery-name{
    width: 400px;
}
.gallery:hover .index-picture{
    width: 400px;   
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    height: inherit;
    overflow-x: hidden;
}

.index-picture img{   
    /* box-sizing: none; */
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid black;
}
.index-picture img:hover{
    border: none;
}

.gallery-pic,.choosing-pic{
    position: relative;
}
.gallery-pic::before,.choosing-pic::before {
    position: absolute;
    content: '';
    width: calc(100% + 8px);
    height: calc(100% - 4px) ;
    top: 3px;
    left: -4px;    
    border-radius: 4px;
    background-image: conic-gradient(from var(--angle),
    #fff000, #00ff0e,
    #0099ff, #001aff, #ff0000,
    #ff0055, #ff0000, #0099ff,
    #00a1ff, #a200ff,#fff000);    
    z-index: 1;
    animation: 3s spin linear infinite;
    display: none;
}
.choosing-pic::before{
    display: initial;
}
.gallery-pic:hover:before{
    display: initial;
}

/* Game option */
.game-option{
    width: 400px;
    height: 260px;
    position: absolute;
    background-color: #014805;
    color:yellow;
    right: 50px;
    bottom: 5vh;
    border-radius: 40px;
}

.game-option > div{
    font-size: 2em;
}
.btn{
    display: inline-block;
    background-color: #0099ff;
    color: yellow;
}



/* Setting */
.setting{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #00ff0e;
    color: yellow;
    right: 10px;
    top: 10px;
}




/* .start{
    position: relative;
}

.start::before{
    content: '';
    position: absolute;
    background-color: yellow;
    height: 100%;
    width: 100%;
} */

