*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}
:root{
    --level: 3;
    --show-timer-animation: paused;
}

html, body {
  -webkit-user-select: none;  /* Safari, Chrome */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+ */
   user-select: none;          /* chuẩn */
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
body{
    background-color: rgb(21, 3, 38);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    /* display: flex; */
}
.main-container {
  /* hoặc .main-container, .wrapper… tuỳ tên selector của bạn */
  position: relative;    /* giữ nguyên ở viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;   /* chặn scroll nội bộ */
}
img{
    -webkit-user-drag: none;
}
::-webkit-scrollbar{
background: linear-gradient(to right, #00c3ff, #ffff1c);
width: 10px;
border-radius: 100px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(to right, #ee0979, #ff6a00);   
border-radius: 100px;

}



.tile{
    height: 100%;
    width: 100%;
    overflow: clip;
    position: relative;
    /* box-shadow: 6px 1px 20px 0px rgba(0,0,0,0.65); */
    cursor: pointer;
    margin: auto;
    /* transition: transform 0.2s ease; */
    z-index: 1;
    border: 1px solid transparent  ;
    
}
.blank{
    /* position: absolute; */
    cursor: context-menu;
    display: none;
    /* visibility: hidden; */
}
/* .blank::before{
    position: absolute;
    content: '';
    background-color: red;
    height: 100%; width: 100%;
    z-index: 10;
    opacity: 1 !important;
    
} */
/* .blank-effect{
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 100;
} */

.tile:hover{
  border-width: 4px;
  border-style: solid;
  border-image: radial-gradient(circle,rgb(97, 63, 251) 50%, rgb(252, 70, 70) 100%) 1;
  box-shadow:0 0 100px #FF0000;
  z-index: 3;
}
.stop-move{
    pointer-events: none; 
    /* border: none !important ; */
    box-shadow: none !important;
    cursor: default;
}


/* .tile::before{
    position: absolute;
    content: '';
    width: 300px ;  
    height: 300px;
    /* background-image: conic-gradient(red,blue,green,yellow,red); */
    /* z-index: 3;
    }    
*/



span.tile-number {
    z-index: 4;
    color: red;
    font-size: 1.5rem;
    position: absolute;
    left: 10px;
}
.tile img{
    height: calc(var(--level)*100%);
    width: calc(var(--level)*100%);
    position: absolute;
    overflow: clip;

}


body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    /* text-align: ; */
    overflow: hidden;
}
button{
    height: 45px;
    width: auto;
    border-radius: 30px;

}

.playground{
    position: absolute;
    height: calc(370px + 25vh);
    width: calc(370px + 25vh);
    left: 100px ;
    top: 115px;
}
.board-game,.choose-pic-notify{
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 28%;
    top: 10vh; */
}
.board-game{
    /* margin: auto;    */
    display: grid;
    /* box-shadow: 0 0 200px #0606a8, 0 0 500px #11036c; */
    /* background-image: conic-gradient(red,blue,green,yellow,red); */
    background-color: rgb(0,0,0);
    /* background-image: url(sample_pic.jpg);
    background-size: contain; */
    grid-template-columns: repeat(var(--level),1fr); 
    grid-template-rows: repeat(var(--level),1fr); 
    grid-template-areas: 
        'tile1 tile2 tile3'
        'tile4 tile5 tile6'
        'tile7 tile8 tile9';
}
span{
    visibility: visible;
}

.choose-pic-notify{
   color: yellow;
   z-index: 2;
   font-size: 3rem;
   align-content: center;
   justify-items: center;
}

/* .game-notify::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00ec27;
    opacity: 0.7;
    filter: blur(20px);
    z-index: -1;
} */
 /* .game-notify{
    bottom: 50%;
} */
/* .notify{
    grid-area: notify;
    text-align: center;
    background-color: #00c3ff;
    width: 100%;
}
.restart-game{
    text-align: center;
    grid-area: yes;
    background-color: rgb(43, 72, 0);
    width: 100px;
}
.continue-game{
    text-align: center;
    grid-area: no;
    background-color: red;
    width: 100px;
}
.ingame-notify{
    background-color:rgb(1, 46, 91);
    height: 50%;
    width: 80%;
    padding: 20px;
    align-content: space-evenly;
    justify-content: center;
    display: grid;
    grid-template-areas: 
        'notify notify'
        'yes no';
    column-gap: 150px ;
    /* row-gap: 20px; 
    
}
 */



@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.board-game::before, .board-game::after{
    z-index: -1;
    opacity: 1;
    position: absolute;
    content: '';
    height: calc(100% + 14px);  
    width: calc(100% + 14px);
    top: -7px;
    left: -7px;
    background-image: conic-gradient(from var(--angle),red 0%,rgb(0, 144, 0) 40%,rgb(203, 230, 82) 60%,rgb(255, 98, 124) 90%,red 100%);
    animation: 3s spin linear infinite;
    filter: blur(2px);
    box-shadow: 0 0 10px #9494ec, 0 0 500px #2b1b94;
}

.board-game::after{
    filter: blur(10px);
    opacity: 0.5;
}   

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;  
    }
}


/* Level Drop Down */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  height: 100%;
  width: 100px;
  text-align: center;
  align-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  /* background-color: yellow; */
  z-index: 1;
  justify-items: center;
  bottom: 42px;
  left: -25px;
  /* right: -350px; */
}

.dropdown-content::after{
  width: 100%;
  height: 100%;  
  content: '';
  background-color: rgb(159, 154, 255, 0.1);
  position: absolute;
  z-index: -1;
  bottom: 0px;
  filter: blur(10px);
}

.dropdown-content a {
  color: white;
  width: 100px;
  padding: 6px 16px;
  margin-top: 3px;
  border: 3px solid #9494ec;
  cursor: pointer;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  background-image: linear-gradient(to right, #00ec27 0%, #00ec27 50%, #6a3093   50%, #6a3093  100%);
  background-size: 200% auto;
  background-position: 100% 0%;
  transition: 0.2s;

}
#lvl3 {
  background-image: linear-gradient(to right,
    #80FF00 0%, #80FF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl4 {
  background-image: linear-gradient(to right,
    #BFFF00 0%, #BFFF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl5 {
  background-image: linear-gradient(to right,
    #FFFF00 0%, #FFFF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl6 {
  background-image: linear-gradient(to right,
    #FFBF00 0%, #FFBF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl7 {
  background-image: linear-gradient(to right,
    #FF8000 0%, #FF8000 50%, #6a3093 50%, #6a3093 100%);
}

#lvl8 {
  background-image: linear-gradient(to right,
    #FF4000 0%, #FF4000 50%, #6a3093 50%, #6a3093 100%);
}

#lvl9 {
  background-image: linear-gradient(to right,
    #FF0000 0%, #FF0000 50%, #6a3093 50%, #6a3093 100%);
}

#lvl10 {
  background-image: linear-gradient(to right,
    #BF0000 0%, #BF0000 50%, #6a3093 50%, #6a3093 100%);
}


.dropdown-content a:hover {
    color: #000000 ;
    /* background-color: #f1f1f1; */
    background-position: 0% 0%;
}

.choosing-level{
    color: #000000 !important;
    background-position: 0% 0% !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Gallery */
.gallery{
    width: 180px;
    height: 80%;
    background-color: #FB8C00;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 50px;
    transition: linear 0.1s;
    z-index: 10;
}
.gallery-name{
    width: 180px;
    font-size: 2rem;
    height: 50px;
    background-color: #d63606;
    border-top-right-radius: 50px;
    text-align: center;
    color: #ffdf8f;
    box-shadow: 0 0 40px #95a000, 0 0 100px #00178a;
    transition: width 0.5s;
}

.index-picture{
    width: 100%;
    height: calc(100%);
    display: grid;
    row-gap: 10px;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr;
    background-color: rgb(41, 32, 49);
    justify-items: center;
    align-items: center;     
    box-shadow: 0 0 40px #407f00, 0 0 100px #0e0064;
    transition: width 0.5s;
    z-index: inherit;
}

.gallery:hover .gallery-name{
    width: 400px;
    height: 50px;
}
.gallery:hover .index-picture{
    width: 400px;   
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    height: calc(100% - 50px);
    overflow-x: hidden;
}
.gallery:hover .choosing-pic > img {
    filter: blur(0px);
}

.index-picture img{   
    /* box-sizing: none; */
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid black;
}
.index-picture img:hover{
    border: none;
}

.gallery-pic,.choosing-pic{
    position: relative;
}
.choosing-pic > img{
    filter: blur(5px);
}
.gallery-pic::before,.choosing-pic::before {
    position: absolute;
    content: '';
    width: calc(100% + 8px);
    height: calc(100% - 4px) ;
    top: 3px;
    left: -4px;    
    border-radius: 4px;
    background-image: conic-gradient(from var(--angle),
    #fff000, #00ff0e,
    #0099ff, #001aff, #ff0000,
    #ff0055, #ff0000, #0099ff,
    #00a1ff, #a200ff,#fff000);    
    z-index: 1;
    animation: 3s spin linear infinite;
    display: none;
}
.choosing-pic::before{
    display: initial;
}
.gallery-pic:hover:before{
    display: initial;
}



/* Game option */
.game-option{
    width: 400px;
    height: 200px;
    position: absolute;
    background-color: #0e173c;
    border: 3px solid rgb(171, 77, 234);
    color:#ffff00;
    right: 1vw;
    bottom: 5vh;
    border-radius: 30px;
}

.game-option > div{
    font-size: 1.5em;
}
.game-option{
    padding: 8px 4px;
    
}

.btn{
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to right, #9575CD 0%, #a044ff  40%, #061a9b  100%);
    background-size: 250% auto;
    color: #fff;
    width: 30%;
    border-radius: 30px;
    transition: 0.5s;
    display: flex;
    align-items: center;    /* căn dọc các item con */
    justify-content: center;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: yellow;
    text-decoration: none;
    outline: 3px solid #ff0000ff;
}

.no-pointer{
    pointer-events: none;
}

.pause,.restart{
    visibility: hidden;
}
.pause  span{
    visibility: visible;
}

.pause,.restart{
  display: flex;            
  align-items: center;       /* căn giữa theo trục dọc */
  justify-content: center;   /* căn giữa theo trục ngang */
  font-size: 1.2rem !important;

}

.controls > div {
    height: 100%;
}

.game-option .controls {
  display: flex;
  gap: 10px;               /* Khoảng cách giữa các nút */
  justify-content: center; 
  align-items: center;      /* căn theo trục dọc */
  height: 20%;
}


/* 
.start::before{
    content: '';
    position: absolute;
    opacity: 0.3;
    background-color: yellow;
    height: calc(100% + 4px);
    width: 100%;
    left: 0;
    bottom: -1px;
} */

.timer,.steps-count{
    margin: 7px 15px;
    width: 220px ;
    height: 40px;
    position: relative;
    z-index: 0;
   
}
.steps-count{
    display: flex;
    align-items: center;
}
.timer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #0e173c;
}
.steps-count > div {
    margin-left: 10px;
}
.steps-count > img{
    margin-left: 10px;
}


.clock-icon,.move-icon{
  display: inline-block;      /* bắt chước text */
  width: 1.4em;                 /* bằng 1 chữ cái của font hiện tại */
  height: 1.4em;
  /* z-index: 4; */
}
.showTile{
    width: 200px;
    height: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #d63606;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: #fff;
    background-image: linear-gradient(
        to right, 
        #d63606 0%, 
        #d63606 50%, 
        #6a3093   50%, 
        #6a3093  100%);
    background-size: 200% auto;
    background-position: 100% 0%;
    transition: 0.2s;
}

.showTile:hover{
    background-position: 0% 0%;
    color: #eaea06;
}

.timer::before{
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 2px);
    border-radius: 5px;
    content: '';
    opacity: 1;
    z-index: -1;
    top: -4px;
    left: -4px;
    background-image: conic-gradient(from var(--angle) ,
    red, transparent 30%, #001aff,red);    
    animation: 2s spin linear infinite;
    animation-play-state: var(--show-timer-animation);
}

.controls3{
    height: 23%;
    display: flex;
    margin: 7px;
    gap: 40px;
}





/* Logo */
.logo{
    position: absolute;
    background-color: #110c47;
    border: 3px solid rgb(148, 123, 255);
    border-left: none;
    border-top: none;
    width: 400px;
    height: 90px;
    border-bottom-right-radius: 100px;
    z-index: 2;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;

}
.logo-image{
    height: 45px;
    width: 45px;
    margin-left: 40px;
    z-index: 4;
    transform: rotate(225deg);
    /* margin: 20px 20px; */
    background: linear-gradient(to right, #ff7e5f, #feb47b);

    /* 2) Dùng image làm mask */
    -webkit-mask: url('./Assets/icon/logo1.png') no-repeat center / contain; 
     mask: url('./Assets/icon/logo1.png') no-repeat center / contain;

    /* 3) Cho an toàn, đảm bảo không lặp lại */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

}
.name-logo{
  font-size: 3.5em;
  background: linear-gradient(to right, #30CFD0 0%, #89bf00 100%); 
  background-clip: text;
  color: transparent;
}
.name-logo span{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 4rem;
}

.head-page{
    position: absolute;
    background-color: #4a2982;
    width: 100vw;
    height: 50px;
    z-index: -1;
}

.right-head-page{
    position: absolute;
    background-color: #312f4f;
    border-left: 3px solid rgb(148, 123, 255);
    border-bottom: 3px solid rgb(148, 123, 255);
    width: 100px;
    height: 90px;
    border-bottom-left-radius: 100px;
    z-index: 5; 
    right: 0;
    transition: 0.5s;
}

.right-head-page:hover{
    background-color: #110c47;
}

.open-setting{
    cursor: default;
    background-color: #110c47;
    border-bottom-left-radius: 10px;
    width: 25vw;
    height: 300px;
}

.right-head-page:hover .settings-button{
    background-color: #0099ff;
    cursor: pointer;
}
/* Setting */  
/* Container chung */
    .settings {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 50px;
        top: 10px;
        z-index: 3;
        right: 0;
    }

    /* Nút kích hoạt dropdown */
    .settings-button img{
        z-index: 3;
    }
    .settings-button {
      color: yellow;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
      user-select: none;
      background-color: rgb(38, 3, 116);
      border: 3px solid #0099ff;
      position: absolute;
      right: 10px;
    }

    /* Dropdown menu */
    .settings-dropdown {
      position: absolute;
      top: 100%;       /* ngay dưới nút */
      right: 10px;
      padding: 0;
      list-style: none;
      /* border: 1px solid #ccc; */
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      display: none;   /* ẩn mặc định */
      width: 90%;
      overflow: hidden;
      z-index: 5;
      opacity: 0;
      animation: fadeIn 0.5s ease forwards;
    }
        @keyframes fadeIn {
        0% { opacity: 0; }
        50% { opacity: 0.5; }
        100%{ opacity: 1; }
        }
    /* Khi mở */
    .settings.open .settings-dropdown {
      display: block;
      
    }

    /* .settings-dropdown::before{
    position: absolute;
    content: '';
    cursor: pointer;
    border-bottom-left-radius: 10px;
    width: 250px;
    height: 300px;
    background-color: yellow;
    z-index: -1;
    top: 0;       
    right: 0;
    }
 */

    /* Các mục trong dropdown */
    .settings-dropdown li {
      padding: 8px 12px;
      cursor: pointer;
      color: white   ;
      background-color: transparent;
      border-top: 2px solid rgb(255, 255, 255);
    }
    .settings-dropdown li:hover {
      background-image: linear-gradient(to right, #1100ff,rgb(2, 255, 2));;
      border-image: radial-gradient(circle, rgb(255, 4, 4) 100%) 1;
      color: yellow   ;

    }



/* Preview */
.dropdown-icon{
    visibility: hidden ;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    height: 50px;
    width: 50px;
    z-index: 2;
    right: -70px;
    /* right: 27.5%;
    top: 10vh; */
    
}
.preview-icon{
    height: 100%;
    width: 100%;
    background-color: rgb(184, 228, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.preview-icon img{
    height: 70%;
    width: 70%;
}
.dropdown-picture img{
    display: none;
    transform-origin: top left;
    cursor:context-menu;
    pointer-events: none;
    position: absolute;
    left: 57px;
    top: 0px;
    height: 300px;
    width: 300px;
    border: 2px solid rgb(159, 154, 255);
    border-radius: 10px;
    animation:  openPreview 0.1s ease forwards;
}
@keyframes openPreview{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);

    }

}

/* .dropdown-icon:active   img{
    display: block;
} */

/* .test{
    position: absolute;
    top: 50%;
    right: 50px;
    height: 100px;
    width: 100px;
    z-index: 100;
}

.test::before{
    content: '';
    position: absolute;
    top: -100px;
    left: -100px;
    background-color: yellow;
    z-index: 40;
} */

/* Responsive */

/* @media only screen and (max-width: 300px) {
    .playground{
        width: 100px; height: calc(100 + 60px);
    }
    .main-container{
        display: flex; 
        justify-content: center;
    }
    .board-game,.choose-pic-notify{
        position: absolute;
        height: calc(100% - 60px);
        width: 100%;
    }
} */ 
/* <600px, 601px,768px,992px,1200px */
/* @media only screen and (max-width: 768px) and (min-width:  601px) {
    *{
        border: 1px solid rgb(0, 255, 0);
    }
} */

@media only screen and (min-width: 1200px) {
    /* *{
        border: 1px solid rgb(242, 255, 0);
    } */

    .playground{
        left: unset;
        right: 35%;
        top: 125px;
        /* width: 55vw !important; height: 55vw !important; */

    }
    .game-option{
        right: 1vw !important;
    }
}
@media only screen and (max-width: 1200px) {
    /* gallery */
        .gallery{
            bottom: calc(-80% + 50px );
        }
        .gallery:hover{
            bottom: 0;
            z-index: 16;
        }

        /* .gallery{
        width: 180px;
        height: 80%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.5s;
        z-index: 4;
    } */

}
@media only screen and (max-width: 1199px) and (min-width: 993px) {
    .playground{
        left: 4vw !important;
    }
    .game-option{
        right: 2vw !important;
        width: 35%;
    }

}

@media only screen and (max-width: 992px) and (min-width: 769px) {
    /* *{
        border: 1px solid rgb(55, 0, 255);
    } */

    .playground{
        width: 55vw !important; height: 55vw !important;
        display: flex;
        justify-content: center;
        left: 5vw !important;
        right: unset;
        bottom: unset;
        top: 65px;
    }
    .timer > div > #name-Time{
        display: none;
    }
    .dropdown-icon{
        bottom: unset !important;
        top: 0;
        right: -60px !important;
    }

    .dropdown-picture img{
        left: 0px !important;
        top: 50px !important;
        height: calc(250px + 5vw) !important;
        width: calc(250px + 5vw)  !important;
        transform-origin: top left !important;
    }


}


@media only screen and (max-width: 992px) {
    .main-container{
        display: flex; 
        justify-content: center;
    }
    
    .playground{
        width: 53vh; height: 53vh;
        /* min-width:calc(400px + 60px); min-height:400px ; */

        display: flex;
        justify-content: center;
        left: unset;
        right: unset;
        bottom: unset;
        top: 65px;
        /* left: unset;
        right: 80px;
        bottom: none;
        top: 65px; */

    }
    .board-game,.choose-pic-notify{
        position: absolute;
        height: calc(100%);
        width: 100%;
    }
    .choose-pic-notify{
        font-size: 2em;
    }
/* headpage */
    .page-header{
        z-index: 3;
    }
    .logo{
        position: absolute;
        left: 0;
        width: 60%;
        height: 50px;
        transition: 0.5s;
    }
    .logo-image{
        height: calc(100% - 20px);
        width: 45px;
        margin-left: 10px;
    }
    .right-head-page{
        height: 50px;
        width: 40%;
        /* top: -40px; */
        z-index: 2;
    }
    .open-setting{
        height: 300px;
    }
    .logo{
        gap: 10px;
    }
    .name-logo{
        font-size: 2.5em;
    }
    .name-logo span{
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 3rem;
    }

    .settings-button {
        height: 90%;
    }
    .settings{
        top: 0;
    }

/* preview */
    .dropdown-icon{
        position: absolute;
        height: 40px;
        width: 40px;
        z-index: 10;
        bottom: 0px;
        right: -50px;
    }

    .dropdown-picture img{
        left: -220px;
        top: 60px;
        height: 250px;
        width: 250px;
        transform-origin: top right;
    }
}

@media only screen and (max-width: 992px) {
/* game option */
    .game-option{
        bottom: 10px;
        right: 10px;
        width: 300px;
        height: 200px;
        z-index: 15;
    }
    .game-option-move-below600px{
        right: unset; 
        left: 10px !important;
        width: 40vw;
        bottom: 70px;
        transition: 0.2s;
        
    }
    .controls3{
       gap: 10px;
    }
    .timer,.steps-count{
        margin: 0px 10px;
        margin-top: 8px;
        width: 150px ;
        font-size: 10px;
    }

    .showTile{
        width: 200px;
        height: 100%;
        cursor: pointer;
        font-size: 1rem;
    }
    .dropbtn {
        font-size: 1rem;
        width: 50px;
    }
    .dropdown-content {
        left: -50px;
    }
    .dropdown-content a {
        width: 70px;
        font-size: 1rem;
        padding: 6px 1px;
        text-align: center;
    }
    span.tile-number {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 550px) {
    .playground{
        left: 20px !important;
    }
    .dropdown-picture img{
        left: -195px;
    }
}