*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}
:root{
    --level: 3;
    --show-timer-animation: paused;
}

html, body {
  -webkit-user-select: none;  /* Safari, Chrome */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+ */
   user-select: none;          /* chuẩn */
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
body{
    background-color: rgb(21, 3, 38);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    /* display: flex; */
}
.main-container {
  /* hoặc .main-container, .wrapper… tuỳ tên selector của bạn */
  position: relative;    /* giữ nguyên ở viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;   /* chặn scroll nội bộ */
}
img{
    -webkit-user-drag: none;
}
::-webkit-scrollbar{
background: linear-gradient(to right, #00c3ff, #ffff1c);
width: 10px;
border-radius: 100px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(to right, #ee0979, #ff6a00);   
border-radius: 100px;

}



.tile{
    height: 100%;
    width: 100%;
    overflow: clip;
    position: relative;
    /* box-shadow: 6px 1px 20px 0px rgba(0,0,0,0.65); */
    cursor: pointer;
    margin: auto;
    /* transition: transform 0.2s ease; */
    z-index: 1;
    border: 1px solid transparent  ;
    
}
.blank{
    cursor: context-menu;
    display: none;
}
.tile:hover{
  border-width: 4px;
  border-style: solid;
  border-image: radial-gradient(circle,rgb(97, 63, 251) 50%, rgb(252, 70, 70) 100%) 1;
  box-shadow:0 0 100px #FF0000;
  z-index: 3;
}
.stop-move{
    pointer-events: none; 
    /* border: none !important ; */
    box-shadow: none !important;
    cursor: default;
}


/* .tile::before{
    position: absolute;
    content: '';
    width: 300px ;  
    height: 300px;
    /* background-image: conic-gradient(red,blue,green,yellow,red); */
    /* z-index: 3;
    }    
*/



span.tile-number {
    z-index: 4;
    color: red;
    font-size: 2rem;
    position: absolute;
    left: 10px;
}
.tile img{
    height: calc(var(--level)*100%);
    width: calc(var(--level)*100%);
    position: absolute;
    overflow: clip;

}


body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    /* text-align: ; */
    overflow: hidden;
}
button{
    height: 45px;
    width: auto;
    border-radius: 30px;

}

.board-game,.choose-pic-notify{
    position: absolute;
    height: 100%;
    width: calc(100% - 60px);
    /* left: 28%;
    top: 10vh; */
}
.board-game{
    /* margin: auto;    */
    display: grid;
    /* box-shadow: 0 0 200px #0606a8, 0 0 500px #11036c; */
    /* background-image: conic-gradient(red,blue,green,yellow,red); */
    background-color: rgb(0, 0, 0);
    /* background-image: url(sample_pic.jpg);
    background-size: contain; */
    grid-template-columns: repeat(var(--level),1fr); 
    grid-template-rows: repeat(var(--level),1fr); 
    grid-template-areas: 
        'tile1 tile2 tile3'
        'tile4 tile5 tile6'
        'tile7 tile8 tile9';
}
span{
    visibility: visible;
}

.choose-pic-notify{
   position: absolute;
   color: yellow;
   z-index: 3;
   font-size: 3rem;
   align-content: center;
   justify-items: center;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.board-game::before, .board-game::after{
    z-index: -1;
    opacity: 1;
    position: absolute;
    content: '';
    height: calc(100% + 14px);  
    width: calc(100% + 14px);
    top: -7px;
    left: -7px;
    background-image: conic-gradient(from var(--angle),red 0%,rgb(0, 144, 0) 40%,rgb(203, 230, 82) 60%,rgb(255, 98, 124) 90%,red 100%);
    animation: 3s spin linear infinite;
    filter: blur(2px);
    box-shadow: 0 0 10px #9494ec, 0 0 500px #2b1b94;
}

.board-game::after{
    filter: blur(10px);
    opacity: 0.5;
}   

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;  
    }
}


/* Level Drop Down */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  height: 100%;
  width: 100px;
  text-align: center;
  align-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  /* background-color: yellow; */
  z-index: 1;
  justify-items: center;
  bottom: 42px;
  left: -25px;
  /* right: -350px; */
}

.dropdown-content::after{
  width: 100%;
  height: 100%;  
  content: '';
  background-color: rgb(159, 154, 255, 0.1);
  position: absolute;
  z-index: -1;
  bottom: 0px;
  filter: blur(10px);
}

.dropdown-content a {
  color: white;
  width: 100px;
  padding: 6px 16px;
  margin-top: 3px;
  border: 3px solid #9494ec;
  cursor: pointer;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  background-image: linear-gradient(to right, #00ec27 0%, #00ec27 50%, #6a3093   50%, #6a3093  100%);
  background-size: 200% auto;
  background-position: 100% 0%;
  transition: 0.2s;

}
#lvl3 {
  background-image: linear-gradient(to right,
    #80FF00 0%, #80FF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl4 {
  background-image: linear-gradient(to right,
    #BFFF00 0%, #BFFF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl5 {
  background-image: linear-gradient(to right,
    #FFFF00 0%, #FFFF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl6 {
  background-image: linear-gradient(to right,
    #FFBF00 0%, #FFBF00 50%, #6a3093 50%, #6a3093 100%);
}

#lvl7 {
  background-image: linear-gradient(to right,
    #FF8000 0%, #FF8000 50%, #6a3093 50%, #6a3093 100%);
}

#lvl8 {
  background-image: linear-gradient(to right,
    #FF4000 0%, #FF4000 50%, #6a3093 50%, #6a3093 100%);
}

#lvl9 {
  background-image: linear-gradient(to right,
    #FF0000 0%, #FF0000 50%, #6a3093 50%, #6a3093 100%);
}

#lvl10 {
  background-image: linear-gradient(to right,
    #BF0000 0%, #BF0000 50%, #6a3093 50%, #6a3093 100%);
}


.dropdown-content a:hover {
    color: #000000;
    /* background-color: #f1f1f1; */
    background-position: 0% 0%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Gallery */
.gallery{
    width: 180px;
    height: 80%;
    background-color: #FB8C00;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 50px;
    transition: width 0.5s;
    z-index: 4;
}
.gallery-name{
    width: 180px;
    font-size: 2rem;
    height: 50px;
    background-color: #d63606;
    border-top-right-radius: 50px;
    text-align: center;
    color: #ffdf8f;
    box-shadow: 0 0 40px #95a000, 0 0 100px #00178a;
    transition: width 0.5s;
}

.index-picture{
    width: 100%;
    height: calc(100%);
    display: grid;
    row-gap: 10px;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr;
    background-color: rgb(41, 32, 49);
    justify-items: center;
    align-items: center;     
    box-shadow: 0 0 40px #407f00, 0 0 100px #0e0064;
    transition: width 0.5s;
    z-index: inherit;
}

.gallery:hover .gallery-name{
    width: 400px;
    height: 50px;
}
.gallery:hover .index-picture{
    width: 400px;   
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    height: calc(100% - 50px);
    overflow-x: hidden;
}
.gallery:hover .choosing-pic > img {
    filter: blur(0px);
}

.index-picture img{   
    /* box-sizing: none; */
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid black;
}
.index-picture img:hover{
    border: none;
}

.gallery-pic,.choosing-pic{
    position: relative;
}
.choosing-pic > img{
    filter: blur(5px);
}
.gallery-pic::before,.choosing-pic::before {
    position: absolute;
    content: '';
    width: calc(100% + 8px);
    height: calc(100% - 4px) ;
    top: 3px;
    left: -4px;    
    border-radius: 4px;
    background-image: conic-gradient(from var(--angle),
    #fff000, #00ff0e,
    #0099ff, #001aff, #ff0000,
    #ff0055, #ff0000, #0099ff,
    #00a1ff, #a200ff,#fff000);    
    z-index: 1;
    animation: 3s spin linear infinite;
    display: none;
}
.choosing-pic::before{
    display: initial;
}
.gallery-pic:hover:before{
    display: initial;
}



/* Game option */
.game-option{
    width: 400px;
    height: 200px;
    position: absolute;
    background-color: #0e173c;
    border: 3px solid rgb(171, 77, 234);
    color:#ffff00;
    right: 1vw;
    bottom: 5vh;
    border-radius: 30px;
}

.game-option > div{
    font-size: 1.5em;
}
.game-option{
    padding: 8px 4px;
    
}

.btn{
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to right, #9575CD 0%, #a044ff  40%, #061a9b  100%);
    background-size: 250% auto;
    color: #fff;
    width: 30%;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    transition: 0.5s;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: yellow;
    text-decoration: none;
    outline: 3px solid #001aff;
}

.no-pointer{
    pointer-events: none;
}

.pause,.restart{
    visibility: hidden;
}


.game-option .controls {
  display: flex;
  gap: 10px;               /* Khoảng cách giữa các nút */
  justify-content: center; /* Hoặc center nếu muốn chính giữa */
  height: 20%;
}


/* 
.start::before{
    content: '';
    position: absolute;
    opacity: 0.3;
    background-color: yellow;
    height: calc(100% + 4px);
    width: 100%;
    left: 0;
    bottom: -1px;
} */

.timer,.steps-count{
    margin: 7px 15px;
    width: 220px ;
    height: 40px;
    position: relative;
    z-index: 2;
}
.steps-count{
    display: flex;
    align-items: center;
}
.timer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #0e173c;
}
.steps-count > div {
    margin-left: 10px;
}
.steps-count > img{
    margin-left: 10px;
}


.clock-icon,.move-icon{
  display: inline-block;      /* bắt chước text */
  width: 1.4em;                 /* bằng 1 chữ cái của font hiện tại */
  height: 1.4em;
  /* z-index: 4; */
}
.showTile{
    width: 200px;
    height: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #d63606;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: #fff;
    background-image: linear-gradient(
        to right, 
        #d63606 0%, 
        #d63606 50%, 
        #6a3093   50%, 
        #6a3093  100%);
    background-size: 200% auto;
    background-position: 100% 0%;
    transition: 0.2s;
}

.showTile:hover{
    background-position: 0% 0%;
    color: #eaea06;
}

.timer::before{
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 2px);
    border-radius: 5px;
    content: '';
    opacity: 1;
    z-index: -1;
    top: -4px;
    left: -4px;
    background-image: conic-gradient(from var(--angle) ,
    red, transparent 30%, #001aff,red);    
    animation: 2s spin linear infinite;
    animation-play-state: var(--show-timer-animation);
}

.controls3{
    height: 23%;
    display: flex;
    margin: 7px;
    gap: 40px;
}






/* Logo */
.logo{
    position: absolute;
    background-color: #110c47;
    border: 3px solid rgb(148, 123, 255);
    border-left: none;
    border-top: none;
    width: 400px;
    height: 90px;
    border-bottom-right-radius: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-image{
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 4;
    left: 40px;
    transform: rotate(225deg);
    /* margin: 20px 20px; */
    background: linear-gradient(to right, #ff7e5f, #feb47b);

    /* 2) Dùng image làm mask */
    -webkit-mask: url('./Assets/icon/logo1.png') no-repeat center / contain; 
     mask: url('./Assets/icon/logo1.png') no-repeat center / contain;

    /* 3) Cho an toàn, đảm bảo không lặp lại */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

}
.name-logo{
  font-size: 3.5em;
  background: linear-gradient(to right, #30CFD0 0%, #89bf00 100%); 
  background-clip: text;
  color: transparent;
}
.name-logo span{
  font-family: "Lucida Console", "Courier New", monospace;

}

.head-page{
    position: absolute;
    background-color: #4a2982;
    width: 100vw;
    height: 50px;
    z-index: 1;
}

.right-head-page{
    position: absolute;
    background-color: #312f4f;
    border-left: 3px solid rgb(148, 123, 255);
    border-bottom: 3px solid rgb(148, 123, 255);
    width: 100px;
    height: 90px;
    border-bottom-left-radius: 100px;
    z-index: 2; 
    right: 0;
    transition: 0.5s;
}

.right-head-page:hover{
    background-color: #110c47;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    width: 250px;
    height: 300px;
}
.right-head-page:hover .settings-button{
    background-color: #0099ff;
    cursor: pointer;
}
/* Setting */  
/* Container chung */
    .settings {
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 50px;
        right: 10px;
        top: 10px;
        z-index: 3;
    }

    /* Nút kích hoạt dropdown */
    .settings-button img{
        z-index: 3;
    }
    .settings-button {
      color: yellow;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
      user-select: none;
      background-color: rgb(38, 3, 116);
      border: 3px solid #0099ff;
    }



    /* Dropdown menu */
    .settings-dropdown {
      position: absolute;
      top: 100%;       /* ngay dưới nút */
      right: 0;
      margin-top: 8px;
      padding: 0;
      list-style: none;
      background: #fff;
      /* border: 1px solid #ccc; */
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      display: none;   /* ẩn mặc định */
      min-width: 150px;
      z-index: 100;
    }

    /* Khi mở */
    .settings.open .settings-dropdown {
      display: block;
    }

    /* Các mục trong dropdown */
    .settings-dropdown li {
      padding: 8px 12px;
      cursor: pointer;
      background-color: gold;
      border-top: 2px solid red;
    }
    .settings-dropdown li:hover {
      background-color: #f0f0f0;
    }







.playground{
    position: absolute;
    height: 40vw;
    width: calc(40vw + 60px);
    left: 28%;
    bottom: 5vh;
}

/* Preview */
.dropdown-icon{
    visibility: hidden ;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    height: 50px;
    width: 50px;
    z-index: 10;
    right: 0;
    /* right: 27.5%;
    top: 10vh; */
    
}
.preview-icon{
    height: 100%;
    width: 100%;
    background-color: rgb(184, 228, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.preview-icon img{
    height: 70%;
    width: 70%;
}
.dropdown-picture img{
    display: none;
    transform-origin: top left;
    position: absolute;
    left: 57px;
    top: 0px;
    height: 300px;
    width: 300px;
    border: 2px solid rgb(159, 154, 255);
    border-radius: 10px;
    animation:  openPreview 0.1s ease forwards;
}
@keyframes openPreview{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);

    }

}

/* .dropdown-icon:active   img{
    display: block;
} */

/* .test{
    position: absolute;
    top: 50%;
    right: 50px;
    height: 100px;
    width: 100px;
    z-index: 100;
}

.test::before{
    content: '';
    position: absolute;
    top: -100px;
    left: -100px;
    background-color: yellow;
    z-index: 40;
} */

